body{
    background-color: rgb(150, 150, 150);
    margin: 0px;
    text-align: center;
}

#menu{
    background-color: white;
    font-size: 18px;
    padding: 10px;
}

#titulo{
    color: rgb(200, 0, 0);
    font-size: 22px;
    margin-bottom: 5px;
}